<a href="https://colab.research.google.com/github/sunnatillo91/ai-datascience/blob/main/3_2_guruhlash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science va Sun'iy Intellekt Praktikum
- 3-MODUL Ma'lumotlarga ishlov berish
- 3.2 Ma'lumotlarni tozalash va tayyorlash
- .cat(), qcut() metodlari - Guruhlash

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/content/drive/MyDrive/praktikum_datasets/world_population.csv', usecols=['country', 'pop2021', 'area'], index_col='country')
df.head()

            pop2021  area
country
Macau       658.394    30
Monaco       39.511     2
Singapore  5896.686   710
Hong Kong  7552.810  1104
Gibraltar    33.698     6

In [4]:
df.loc['Uzbekistan']

pop2021     33935.763
area       447400.000
Name: Uzbekistan, dtype: float64

In [5]:
df.loc['India']

pop2021    1393409.038
area       3287590.000
Name: India, dtype: float64

In [6]:
bins = [0, 1000, 10000, 30000, 50000, 100000, 300000, 1500000]

In [7]:
population = df.pop2021
population

country
Macau                658.394
Monaco                39.511
Singapore           5896.686
Hong Kong           7552.810
Gibraltar             33.698
                      ...
Namibia             2587.344
Western Sahara       611.875
Mongolia            3329.289
Falkland Islands       3.533
Greenland             56.877
Name: pop2021, Length: 232, dtype: float64

# cut() metodi yordamida guruhlash

In [8]:
guruh = pd.cut(population, bins)
guruh

country
Macau                   (0, 1000]
Monaco                  (0, 1000]
Singapore           (1000, 10000]
Hong Kong           (1000, 10000]
Gibraltar               (0, 1000]
                        ...
Namibia             (1000, 10000]
Western Sahara          (0, 1000]
Mongolia            (1000, 10000]
Falkland Islands        (0, 1000]
Greenland               (0, 1000]
Name: pop2021, Length: 232, dtype: category
Categories (7, interval[int64, right]): [(0, 1000] < (1000, 10000] < (10000, 30000] <
                                         (30000, 50000] < (50000, 100000] < (100000, 300000] <
                                         (300000, 1500000]]

In [9]:
guruh.value_counts()

(0, 1000]            72
(1000, 10000]        68
(10000, 30000]       44
(30000, 50000]       19
(50000, 100000]      15
(100000, 300000]     11
(300000, 1500000]     3
Name: pop2021, dtype: int64

In [13]:
df['guruh'] = guruh
df.head()

            pop2021  area          guruh
country
Macau       658.394    30      (0, 1000]
Monaco       39.511     2      (0, 1000]
Singapore  5896.686   710  (1000, 10000]
Hong Kong  7552.810  1104  (1000, 10000]
Gibraltar    33.698     6      (0, 1000]

In [3]:
df3 = pd.read_csv('/content/drive/MyDrive/praktikum_datasets/automobile_data.csv', index_col=0)
df3.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [16]:
df3.price.describe()

count       58.000000
mean     15387.000000
std      11320.259841
min       5151.000000
25%       6808.500000
50%      11095.000000
75%      18120.500000
max      45400.000000
Name: price, dtype: float64

In [17]:
bins = [0, 10000, 20000, 50000]

In [18]:
range = pd.cut(df.price, bins)
range

index
0     (10000, 20000]
1     (10000, 20000]
2     (10000, 20000]
3     (10000, 20000]
4     (10000, 20000]
           ...
81        (0, 10000]
82        (0, 10000]
86        (0, 10000]
87    (10000, 20000]
88    (10000, 20000]
Name: price, Length: 61, dtype: category
Categories (3, interval[int64, right]): [(0, 10000] < (10000, 20000] < (20000, 50000]]

In [19]:
range.value_counts()

(0, 10000]        28
(10000, 20000]    17
(20000, 50000]    13
Name: price, dtype: int64

# Guruhlash

In [24]:
groups = ["arzon", "o'rta", "qimmat"]
range = pd.cut(df3.price, bins, labels=groups)
range.value_counts()

arzon     28
o'rta     17
qimmat    13
Name: price, dtype: int64

# Bir nechta oraliqqa avtomatik guruhlash

In [26]:
range = pd.cut(df3.price, 4)
range.value_counts()

(5110.751, 15213.25]    36
(15213.25, 25275.5]     10
(35337.75, 45400.0]      7
(25275.5, 35337.75]      5
Name: price, dtype: int64

# Nisbatan teng miqdordagi guruhlarga ajratish

In [27]:
range = pd.qcut(df3.price, 4)
range.value_counts()

(5150.999, 6808.5]    15
(18120.5, 45400.0]    15
(6808.5, 11095.0]     14
(11095.0, 18120.5]    14
Name: price, dtype: int64

# groupby() yordamida barcha ustunlar bo'yicha guruhlarga ajratish

In [4]:
df3.groupby('company').mean()

<ipython-input-4-3e5295110170>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df3.groupby('company').mean()

,wheel-base,length,horsepower,average-mileage,price
company,,,,,
alfa-romero,90.566667,169.600000,125.333333,20.333333,15498.333333
audi,101.200000,180.800000,109.250000,20.000000,16392.500000
bmw,103.433333,185.033333,144.833333,19.000000,27213.333333
chevrolet,92.466667,151.933333,62.666667,41.000000,6007.000000
dodge,93.700000,157.300000,68.000000,31.000000,6303.000000
honda,96.500000,167.200000,92.333333,26.333333,10195.000000
isuzu,94.433333,160.833333,72.666667,33.333333,6785.000000
jaguar,109.333333,196.966667,204.666667,14.333333,34600.000000
mazda,95.900000,164.260000,75.400000,28.000000,9654.800000
mercedes-benz,113.225000,197.275000,153.500000,18.000000,35040.000000
mitsubishi,95.000000,164.850000,78.000000,29.500000,6689.000000
nissan,95.680000,170.140000,82.800000,31.400000,8289.000000
porsche,92.466667,171.166667,234.000000,17.000000,35528.000000
toyota,96.957143,167.571429,75.428571,28.714286,8216.857143
volkswagen,97.300000,171.700000,72.250000,31.750000,8435.000000
volvo,104.300000,188.800000,114.000000,23.000000,13177.500000

# groupby() yordamida faqat kerakli ustunlar bo'yicha guruhlarga ajratish

In [5]:
df3.groupby('company').price.max()

company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64

# groupby() yordamida bir necha ustunlar bo'yicha guruhlarga ajratish

In [7]:
df3.groupby(['company', 'body-style']).mean()

<ipython-input-7-2475fd07b819>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df3.groupby(['company', 'body-style']).mean()

                           wheel-base      length  horsepower  \
company       body-style
alfa-romero   convertible   88.600000  168.800000  111.000000
              hatchback     94.500000  171.200000  154.000000
audi          sedan         99.666667  176.833333  109.000000
              wagon        105.800000  192.700000  110.000000
bmw           sedan        103.433333  185.033333  144.833333
chevrolet     hatchback     91.450000  148.500000   59.000000
              sedan         94.500000  158.800000   70.000000
dodge         hatchback     93.700000  157.300000   68.000000
honda         sedan         96.500000  172.250000  100.500000
              wagon         96.500000  157.100000   76.000000
isuzu         sedan         94.433333  160.833333   72.666667
jaguar        sedan        109.333333  196.966667  204.666667
mazda         hatchback     93.650000  161.575000   76.250000
              sedan        104.900000  175.000000   72.000000
mercedes-benz hardtop      112.000000  199.200000  184.000000
              sedan        115.450000  199.500000  153.500000
              wagon        110.000000  190.900000  123.000000
mitsubishi    hatchback     93.700000  157.300000   68.000000
              sedan         96.300000  172.400000   88.000000
nissan        sedan         95.975000  170.125000   86.250000
              wagon         94.500000  170.200000   69.000000
porsche       convertible   89.500000  168.900000  207.000000
              hardtop       89.500000  168.900000  207.000000
              hatchback     98.400000  175.700000  288.000000
toyota        hatchback     95.700000  158.700000   62.000000
              wagon         97.900000  174.225000   85.500000
volkswagen    sedan         97.300000  171.700000   72.250000
volvo         sedan        104.300000  188.800000  114.000000
              wagon        104.300000  188.800000  114.000000

                           average-mileage         price
company       body-style
alfa-romero   convertible        21.000000  14997.500000
              hatchback          19.000000  16500.000000
audi          sedan              20.333333  15550.000000
              wagon              19.000000  18920.000000
bmw           sedan              19.000000  27213.333333
chevrolet     hatchback          42.500000   5723.000000
              sedan              38.000000   6575.000000
dodge         hatchback          31.000000   6303.000000
honda         sedan              24.500000  11645.000000
              wagon              30.000000   7295.000000
isuzu         sedan              33.333333   6785.000000
jaguar        sedan              14.333333  34600.000000
mazda         hatchback          27.250000   7482.500000
              sedan              31.000000  18344.000000
mercedes-benz hardtop            14.000000  45400.000000
              sedan              18.000000  33256.000000
              wagon              22.000000  28248.000000
mitsubishi    hatchback          34.000000   5789.000000
              sedan              25.000000   7589.000000
nissan        sedan              31.500000   8524.000000
              wagon              31.000000   7349.000000
porsche       convertible        17.000000  37028.000000
              hardtop            17.000000  34028.000000
              hatchback          17.000000           NaN
toyota        hatchback          32.333333   6058.000000
              wagon              26.000000   9836.000000
volkswagen    sedan              31.750000   8435.000000
volvo         sedan              23.000000  12940.000000
              wagon              23.000000  13415.000000

# Barcha ustunlarni bir necha ustunlar bo'yicha guruhlarga ajratish

In [9]:
df3.groupby(['company', 'body-style']).mean().head()

<ipython-input-9-b4c122a69ad9>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df3.groupby(['company', 'body-style']).mean().head()

                         wheel-base      length  horsepower  average-mileage  \
company     body-style
alfa-romero convertible   88.600000  168.800000  111.000000        21.000000
            hatchback     94.500000  171.200000  154.000000        19.000000
audi        sedan         99.666667  176.833333  109.000000        20.333333
            wagon        105.800000  192.700000  110.000000        19.000000
bmw         sedan        103.433333  185.033333  144.833333        19.000000

                                price
company     body-style
alfa-romero convertible  14997.500000
            hatchback    16500.000000
audi        sedan        15550.000000
            wagon        18920.000000
bmw         sedan        27213.333333

# .agg() - Bir necha funksiyalar yordamida barcha ustunlarni guruhlash

In [10]:
df3.groupby('company').agg([min, max, np.mean])

<ipython-input-10-2571f23ae891>:1: FutureWarning: ['body-style', 'engine-type', 'num-of-cylinders'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df3.groupby('company').agg([min, max, np.mean])

              wheel-base                    length                     \
                     min    max        mean    min    max        mean
company
alfa-romero         88.6   94.5   90.566667  168.8  171.2  169.600000
audi                99.4  105.8  101.200000  176.6  192.7  180.800000
bmw                101.2  110.0  103.433333  176.8  197.0  185.033333
chevrolet           88.4   94.5   92.466667  141.1  158.8  151.933333
dodge               93.7   93.7   93.700000  157.3  157.3  157.300000
honda               96.5   96.5   96.500000  157.1  175.4  167.200000
isuzu               94.3   94.5   94.433333  155.9  170.7  160.833333
jaguar             102.0  113.0  109.333333  191.7  199.6  196.966667
mazda               93.1  104.9   95.900000  159.1  175.0  164.260000
mercedes-benz      110.0  120.9  113.225000  190.9  208.1  197.275000
mitsubishi          93.7   96.3   95.000000  157.3  172.4  164.850000
nissan              94.5  100.4   95.680000  165.3  184.6  170.140000
porsche             89.5   98.4   92.466667  168.9  175.7  171.166667
toyota              95.7  104.5   96.957143  158.7  187.8  167.571429
volkswagen          97.3   97.3   97.300000  171.7  171.7  171.700000
volvo              104.3  104.3  104.300000  188.8  188.8  188.800000

              horsepower                  average-mileage                 \
                     min  max        mean             min max       mean
company
alfa-romero          111  154  125.333333              19  21  20.333333
audi                 102  115  109.250000              18  24  20.000000
bmw                  101  182  144.833333              15  23  19.000000
chevrolet             48   70   62.666667              38  47  41.000000
dodge                 68   68   68.000000              31  31  31.000000
honda                 76  101   92.333333              24  30  26.333333
isuzu                 70   78   72.666667              24  38  33.333333
jaguar               176  262  204.666667              13  15  14.333333
mazda                 68  101   75.400000              17  31  28.000000
mercedes-benz        123  184  153.500000              14  22  18.000000
mitsubishi            68   88   78.000000              25  37  29.500000
nissan                55  152   82.800000              19  45  31.400000
porsche              207  288  234.000000              17  17  17.000000
toyota                62  156   75.428571              19  35  28.714286
volkswagen            52  100   72.250000              26  37  31.750000
volvo                114  114  114.000000              23  23  23.000000

                 price
                   min      max          mean
company
alfa-romero    13495.0  16500.0  15498.333333
audi           13950.0  18920.0  16392.500000
bmw            16430.0  41315.0  27213.333333
chevrolet       5151.0   6575.0   6007.000000
dodge           6229.0   6377.0   6303.000000
honda           7295.0  12945.0  10195.000000
isuzu           6785.0   6785.0   6785.000000
jaguar         32250.0  36000.0  34600.000000
mazda           5195.0  18344.0   9654.800000
mercedes-benz  25552.0  45400.0  35040.000000
mitsubishi      5389.0   8189.0   6689.000000
nissan          6649.0  13499.0   8289.000000
porsche        34028.0  37028.0  35528.000000
toyota          5348.0  15750.0   8216.857143
volkswagen      7775.0   9995.0   8435.000000
volvo          12940.0  13415.0  13177.500000

# .agg() - Bir necha funksiyalar yordamida kerakli ustunlarni guruhlash

In [13]:
df3.groupby(['company', 'body-style']).price.agg([min, max, lambda x: np.median(x)])

                               min      max  <lambda_0>
company       body-style
alfa-romero   convertible  13495.0  16500.0     14997.5
              hatchback    16500.0  16500.0     16500.0
audi          sedan        13950.0  17450.0     15250.0
              wagon        18920.0  18920.0     18920.0
bmw           sedan        16430.0  41315.0     25865.0
chevrolet     hatchback     5151.0   6295.0      5723.0
              sedan         6575.0   6575.0      6575.0
dodge         hatchback     6229.0   6377.0      6303.0
honda         sedan        10345.0  12945.0     11645.0
              wagon         7295.0   7295.0      7295.0
isuzu         sedan         6785.0   6785.0         NaN
jaguar        sedan        32250.0  36000.0     35550.0
mazda         hatchback     5195.0  11845.0      6445.0
              sedan        18344.0  18344.0     18344.0
mercedes-benz hardtop      45400.0  45400.0     45400.0
              sedan        25552.0  40960.0     33256.0
              wagon        28248.0  28248.0     28248.0
mitsubishi    hatchback     5389.0   6189.0      5789.0
              sedan         6989.0   8189.0      7589.0
nissan        sedan         6649.0  13499.0      6974.0
              wagon         7349.0   7349.0      7349.0
porsche       convertible  37028.0  37028.0     37028.0
              hardtop      34028.0  34028.0     34028.0
              hatchback        NaN      NaN         NaN
toyota        hatchback     5348.0   6488.0      6338.0
              wagon         6918.0  15750.0      8338.0
volkswagen    sedan         7775.0   9995.0      7985.0
volvo         sedan        12940.0  12940.0     12940.0
              wagon        13415.0  13415.0     13415.0

In [15]:
df3.groupby('company').agg([len, min, max]) #len - guruhdagi elementlar soni, min - guruh uchun minimum, max - guruh uchun maximum

              body-style                         wheel-base                \
                     len          min        max        len    min    max
company
alfa-romero            3  convertible  hatchback          3   88.6   94.5
audi                   4        sedan      wagon          4   99.4  105.8
bmw                    6        sedan      sedan          6  101.2  110.0
chevrolet              3    hatchback      sedan          3   88.4   94.5
dodge                  2    hatchback  hatchback          2   93.7   93.7
honda                  3        sedan      wagon          3   96.5   96.5
isuzu                  3        sedan      sedan          3   94.3   94.5
jaguar                 3        sedan      sedan          3  102.0  113.0
mazda                  5    hatchback      sedan          5   93.1  104.9
mercedes-benz          4      hardtop      wagon          4  110.0  120.9
mitsubishi             4    hatchback      sedan          4   93.7   96.3
nissan                 5        sedan      wagon          5   94.5  100.4
porsche                3  convertible  hatchback          3   89.5   98.4
toyota                 7    hatchback      wagon          7   95.7  104.5
volkswagen             4        sedan      sedan          4   97.3   97.3
volvo                  2        sedan      wagon          2  104.3  104.3

              length               engine-type  ... num-of-cylinders  \
                 len    min    max         len  ...              max
company                                         ...
alfa-romero        3  168.8  171.2           3  ...              six
audi               4  176.6  192.7           4  ...             four
bmw                6  176.8  197.0           6  ...              six
chevrolet          3  141.1  158.8           3  ...            three
dodge              2  157.3  157.3           2  ...             four
honda              3  157.1  175.4           3  ...             four
isuzu              3  155.9  170.7           3  ...             four
jaguar             3  191.7  199.6           3  ...           twelve
mazda              5  159.1  175.0           5  ...              two
mercedes-benz      4  190.9  208.1           4  ...             five
mitsubishi         4  157.3  172.4           4  ...             four
nissan             5  165.3  184.6           5  ...              six
porsche            3  168.9  175.7           3  ...              six
toyota             7  158.7  187.8           7  ...              six
volkswagen         4  171.7  171.7           4  ...             four
volvo              2  188.8  188.8           2  ...             four

              horsepower           average-mileage         price           \
                     len  min  max             len min max   len      min
company
alfa-romero            3  111  154               3  19  21     3  13495.0
audi                   4  102  115               4  18  24     4  13950.0
bmw                    6  101  182               6  15  23     6  16430.0
chevrolet              3   48   70               3  38  47     3   5151.0
dodge                  2   68   68               2  31  31     2   6229.0
honda                  3   76  101               3  24  30     3   7295.0
isuzu                  3   70   78               3  24  38     3   6785.0
jaguar                 3  176  262               3  13  15     3  32250.0
mazda                  5   68  101               5  17  31     5   5195.0
mercedes-benz          4  123  184               4  14  22     4  25552.0
mitsubishi             4   68   88               4  25  37     4   5389.0
nissan                 5   55  152               5  19  45     5   6649.0
porsche                3  207  288               3  17  17     3  34028.0
toyota                 7   62  156               7  19  35     7   5348.0
volkswagen             4   52  100               4  26  37     4   7775.0
volvo                  2  114  114               2  23  23     2  12940.0


                   max
company
alfa-romero    16500.0
audi           18920.0
bmw            41315.0
chevrolet       6575.0
dodge           6377.0
honda          12945.0
isuzu           6785.0
jaguar         36000.0
mazda          18344.0
mercedes-benz  45400.0
mitsubishi      8189.0
nissan         13499.0
porsche        37028.0
toyota         15750.0
volkswagen      9995.0
volvo          13415.0

[16 rows x 24 columns]