<a href="https://colab.research.google.com/github/sunnatillo91/ai-datascience/blob/main/Copy_of_pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science va Sun'iy Intellekt Praktikum
- Ma'lumotlar tahlili. Pandas kutubxonasi
- 2.2 Pandas kutubxonasi bilan tanishuv

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
from pandas import Series  # series ma'lumotlar tuzilmasi
obj = Series([4,5,6,-6.5])

In [ ]:
type(obj)

pandas.core.series.Series

In [ ]:
print(obj)

0    4.0
1    5.0
2    6.0
3   -6.5
dtype: float64

In [ ]:
obj.values

array([ 4. ,  5. ,  6. , -6.5])

In [ ]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
obj[2]

6.0

In [ ]:
obj2 = Series([6,3,2,1], index=['a','b','c','d'])  #Series ni arraydan farqi indexini kritish mumkin
obj2

a    6
b    3
c    2
d    1
dtype: int64

In [ ]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [ ]:
obj2['b']

3

In [ ]:
obj2[['a','d','b']]

a    6
d    1
b    3
dtype: int64

In [ ]:
obj2[obj2>2]

a    6
b    3
dtype: int64

In [ ]:
obj2[obj2<3]

c    2
d    1
dtype: int64

In [ ]:
obj2*2

a    12
b     6
c     4
d     2
dtype: int64

In [ ]:
obj2

a    6
b    3
c    2
d    1
dtype: int64

In [ ]:
np.exp(obj2)

a    403.428793
b     20.085537
c      7.389056
d      2.718282
dtype: float64

In [ ]:
cars_dict = {'Malibu':40000, "Lacetti":20000, 'Toyota':45000, "Mazda":52000}
type(cars_dict)

dict

In [ ]:
cars1 = Series(cars_dict)  # lug'atni Seriesga o'zgartirildi

In [ ]:
cars1

Malibu     40000
Lacetti    20000
Toyota     45000
Mazda      52000
dtype: int64

In [ ]:
type(cars1)

pandas.core.series.Series

In [ ]:
'Malibu' in cars1

True

In [ ]:
'BMW' in cars1

False

In [ ]:
cars1['Toyota']

45000

In [ ]:
models = ['Toyota', "Mazda", 'Malibu', "Lacetti", 'Jaguar']  # modellar o'rni almashtirildi

In [ ]:
cars2 = Series(cars_dict, index=models)

In [ ]:
cars2

Toyota     45000.0
Mazda      52000.0
Malibu     40000.0
Lacetti    20000.0
Jaguar         NaN
dtype: float64

In [ ]:
cars_dict

{'Malibu': 40000, 'Lacetti': 20000, 'Toyota': 45000, 'Mazda': 52000}

In [ ]:
cars2.isnull()  # qiymati null bo'lsa True qaytaradi

Toyota     False
Mazda      False
Malibu     False
Lacetti    False
Jaguar      True
dtype: bool

In [ ]:
cars2.notnull()  # qiymati null bo'lmasa True qaytaradi

Toyota      True
Mazda       True
Malibu      True
Lacetti     True
Jaguar     False
dtype: bool

In [ ]:
cars2.name = 'Avtosalon'

In [ ]:
cars2.index.name = 'Car model'

In [ ]:
cars2

Car model
Toyota     45000.0
Mazda      52000.0
Malibu     40000.0
Lacetti    20000.0
Jaguar         NaN
Name: Avtosalon, dtype: float64

In [ ]:
cars2.name

'Avtosalon'